body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-left: 40px;
}

.col h6 {
  margin-bottom: 16px; 
}

.col a {
  text-decoration: none;
  color: #373636; 
  display: block;
  margin-bottom: 1px; 
  line-height: 1; 
  font-size: 15px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap; /* in case screen chhoti ho toh wrap ho jaye */
  gap: 16px; /* spacing between links */
  justify-content: center;
  font-size: 13px;
  color: #666;
  margin-top: 30px;
  padding: 10px 0;
}

.footer-bottom a {
  text-decoration: none;
  color: #666;
}

#supportHero {
  background-color: #387ed1;
  color: white;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input {
  padding: 10px 40px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

#supportHero a {
  color: white;
}